* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #7fffd3;

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

main {
  width: 98%;
  padding: 1rem;

  .welcome {
    text-align: center;
  }

  h2 {
    margin-top: 1rem;
  }

  section {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    ul {
      list-style: none;
      line-height: 1.5rem;
    }

    span {
      background-color: #d2691e;
      color: white;
      padding: 0.25rem 0.75rem;
    }
  }

}

footer {
  text-align: center;
  padding: 1rem;
}