* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #7fffd3;

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

main {
  width: 98%;
  padding: 1rem;

  h2 {
    margin-top: 1rem;
  }

  section {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    ul {
      list-style: none;
      line-height: 1.5rem;
    }
  }

}