* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #7fffd3;

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}